@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
:root  {
  --background: 356 0% 95%;
  --foreground: 356 0% 0%;
  --card: 356 0% 90%;
  --card-foreground: 356 0% 10%;
  --popover: 356 0% 95%;
  --popover-foreground: 356 95% 0%;
  --primary: 356 95.7% 45.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 356 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 318 10% 85%;
  --muted-foreground: 356 0% 35%;
  --accent: 318 10% 80%;
  --accent-foreground: 356 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 356 0% 90%;
  --border: 356 20% 50%;
  --input: 356 20% 18%;
  --ring: 356 95.7% 45.7%;
  --radius: 0.5rem;
}
.dark  {
  --background: 356 10% 5%;
  --foreground: 356 0% 90%;
  --card: 356 0% 0%;
  --card-foreground: 356 0% 90%;
  --popover: 356 10% 5%;
  --popover-foreground: 356 0% 90%;
  --primary: 356 95.7% 45.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 356 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 318 10% 15%;
  --muted-foreground: 356 0% 60%;
  --accent: 318 10% 15%;
  --accent-foreground: 356 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 356 0% 90%;
  --border: 356 20% 18%;
  --input: 356 20% 18%;
  --ring: 356 95.7% 45.7%;
  --radius: 0.5rem;

    .leaflet-layer,
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out,
    .leaflet-control-attribution {
      filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
